<div class="foorter" style="background-color: rgba(0, 0, 0, 0.8);padding-top: 20px;padding-bottom: 0">
    <div style="padding-bottom: 2em;">
        <p style="text-align: center;">
            <img src="__STATIC__/web/images/logo-6.png" style="height:25px;"/>
        </p>
        <p style="text-align: center;color:#ddd;padding-top: 0.5em;">护肤品私人订制，原创领导者</p>
        <p style="text-align: center;color:#aaa;padding-top: 2em;">{$siteInfo.web_phone}（周一至周五：早7:00-次日凌晨1:00）</p>
        <p style="text-align: center;color:#aaa;padding-top: 0.3em;">{$siteInfo.web_address}</p>
    </div>
    <div class="cn_copy_right" style="padding-top: 0.2em;padding-bottom: 0.2em;background-color: #dfdfdf;font-size:1em;color:#888;">{$copyrightInfo.copyright_desc}&nbsp;&nbsp;<a target="_blank" style="font-size:1em;color:#888;text-decoration: none;" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">{$siteInfo.web_icp}</a></div>
</div>