<ul>
    <li title="代理商列表" onclick="location.href='{:url('agency')}'">代理商列表</li>
    <li title="代理商列表" onclick="location.href='{:url('agency_tree')}'">代理商树形列表</li>
    <li title="代理商账户" onclick="location.href='{:url('agency_account')}'">代理商账户</li>
    <li title="代理商佣金记录" onclick="location.href='{:url('agency_commission_recond_1')}'">代理商佣金记录</li>
    <li title="佣金率设置" onclick="location.href='{:url('commission_rate')}'">佣金率设置</li>
    <li title="体验店列表" onclick="location.href='{:url('agentShopList')}'">体验店列表</li>

</ul>