
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <title>{$platformName}</title>

    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_blue_common.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/simple-switch/css/simple.switch.three.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">

    <style>
        .Switch_FlatRadius.On span.switch-open{background-color: #0072D2;border-color: #0072D2;}
    </style>
    <script src="__STATIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__STATIC__/blue/bootstrap/js/bootstrap.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrapSwitch.js"></script>
    <script src="__STATIC__/simple-switch/js/simple.switch.js"></script>
    <script src="__STATIC__/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script src="__STATIC__/js/seller.js"></script>
    <script src="__STATIC__/admin/js/jquery-ui.min.js"></script>
    <script src="__STATIC__/admin/js/ns_tool.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_table_style.css">


    <script src="__STATIC__/admin/js/highcharts.js"></script>
    <script src="__STATIC__/admin/js/exporting.js"></script>
    <style  type="text/css">
        .alert li{font-size: 12px;}
    </style>

</head>
<body>
{include file="index/head"/}
<article class="ns-base-article" id="vue-main" v-cloak>
    <aside class="ns-base-aside">
        {include file="index/nav_left"/}
        <nav>
            <ul>
                <li class="" onclick="location.href='{:url('shopsalesaccount')}';" title="销售概况">销售概况</li>
                <li class="selected" onclick="location.href='{:url('shopgoodssaleslist')}';" title="商品分析">商品分析</li>
                <li onclick="location.href='{:url('shopreport')}';" title="运营报告">运营报告</li>
                <li onclick="location.href='{:url('shopgoodssalesrank')}';" title="销售排行">销售排行</li>
            </ul>
        </nav>
        <div style="height:50px;"></div>
        <div id="bottom_copyright">
            <footer>
                <img src="" id="copyright_logo"/>
                <p>
                    <span id="copyright_meta"></span>
                    <br/>
                    <span id="copyright_companyname"></span>
                    <br/>
                    <span id="copyright_desc"></span>
                </p>
            </footer>
        </div>
    </aside>
    <section class="ns-base-section">
        <!-- 操作提示 -->
        <div class="ns-warm-prompt" >
            <div class="alert alert-info">
                <button type="button" class="close" onclick="$('.ns-warm-prompt').hide();">&times;</button>
                <h4>
                    <i class="fa fa-bell"></i>
                    <span>操作提示</span>
                </h4>
                <div style="font-size:12px;text-indent:18px;">
                    商品分析
                </div>
            </div>
        </div>
        <div style="position:relative;margin:10px 0;">
            <!-- 三级导航菜单 -->
            <nav class="ns-third-menu">
                <ul>
                    <li class="selected" onclick="location.href='{:url('shopgoodssaleslist')}';">商品分析</li>
                    <li onclick="location.href='{:url('bestsellergoods')}';">热卖商品</li>
                </ul>
            </nav>
        </div>
        <div class="ns-main" style="margin-bottom: 60px;">

            <div class="alert">
                <ul>
                    <li>1、符合以下任何一种条件的订单即为有效订单：a）采用在线支付方式支付并且已付款；b）采用货到付款方式支付并且交易已完成</li>
                    <li>2、以下列表为从昨天开始最近30天有效订单中的所有商品数据</li>
                    <li>3、近30天下单商品数：从昨天开始最近30天有效订单的某商品总销量</li>
                    <li>4、近30天下单金额：从昨天开始最近30天有效订单的某商品总销售额</li>
                </ul>
            </div>
            <table class="mytable">
                <tr>
                    <th>
                        商品名称
                        <input type="text" id="goods_name" class="input-common"/>
                        <input type="submit" class="btn-common" value="搜索" @click="searchInfo();"/>
                    </th>
                </tr>
            </table>
            <table class="table-class">
                <colgroup>
                    <col style="width: 40%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead>
                <tr align="center">
                    <th class="tal">商品名称</th>
                    <th class="tal">价格</th>
                    <th>近30天下单商品数</th>
                    <th>近30天下单金额</th>
                </tr>
                </thead>
                <colgroup>
                    <col style="width: 40%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">
                    <col style="width: 20%;">

                </colgroup>
                <tbody>
                <tr v-for="item in goodsInfo.list">

                    <td>{{item.title}}</td>
                    <td style="text-align: center;">{{item.price}}</td>
                    <td style="text-align: center;">{{item.sales_info.sales_num}}</td>
                    <td style="text-align: center;">{{item.sales_info.sales_money}}</td>

                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4" style="text-align: center" id="pagelist"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
</article>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/jquery-ui-private.css">
<script>
    var platform_shopname= '{$platformInfo.platform_site_name}';
</script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-ui-private.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.timers.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue-resource.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script>
    var vueMain;
    $(function () {
        vueMain=new Vue({
            el:"#vue-main",
            data:{
                goodsInfo:{
                    page_index:1,
                    page_size:10,
                    goods_name:'',
                    list:[]
                }
            },
            mounted:function () {
                this.getGoodsInfo();
            },
            methods:{
                getGoodsInfo:function () {
                    this.goodsInfo.list=[];
                    this.$http.post("{:url('platform/DataAnalysis/goodsSalesList')}", {
                            page_index: this.goodsInfo.page_index,
                            page_size: this.goodsInfo.page_size,
                            goods_name: this.goodsInfo.goods_name
                        },
                        {emulateJSON: true}).then(function (res) {
                        if (res.data.code == 0) {
                            this.goodsInfo.list=res.data.data.data;
                            layui.use(['laypage', 'layer'], function () {
                                var laypage = layui.laypage, layer = layui.layer;
                                laypage.render({
                                    elem: 'pagelist',
                                    count: res.data.data.total_count,
                                    limit: vueMain.goodsInfo.page_size,
                                    layout: ['count', 'prev', 'page', 'next', 'skip'],
                                    curr: vueMain.goodsInfo.page_index,
                                    jump: function (obj, first) {
                                        if (!first) {
                                            vueMain.goodsInfo.page_index = obj.curr;
                                            vueMain.getGoodsInfo();
                                        }
                                    }
                                });
                            });
                        }
                    });
                },
                searchInfo:function () {
                    this.goodsInfo.goods_name=$("#goods_name").val();
                    this.goodsInfo.page_index=1;
                    this.getGoodsInfo();
                }
            }
        });
    });
</script>
</body>
</html>