
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <title>{$platformName}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_blue_common.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/simple-switch/css/simple.switch.three.css" />
    <style>
        .Switch_FlatRadius.On span.switch-open{background-color: #0072D2;border-color: #0072D2;}
    </style>
    <script src="__STATIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__STATIC__/blue/bootstrap/js/bootstrap.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrapSwitch.js"></script>
    <script src="__STATIC__/simple-switch/js/simple.switch.js"></script>
    <script src="__STATIC__/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script src="__STATIC__/js/seller.js"></script>
    <script src="__STATIC__/admin/js/jquery-ui.min.js"></script>
    <script src="__STATIC__/admin/js/ns_tool.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_table_style.css">
    <script src="__STATIC__/admin/js/art_dialog.source.js"></script>
    <script src="__STATIC__/admin/js/iframe_tools.source.js"></script>
    <script src="__STATIC__/admin/js/material_managedialog.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/defau.css">
    <style type="text/css">
        input[type='radio']{float: left;margin-right: 5px;margin-top: 5px;}
        label.line-label{display:inline-block;margin-right:10px;font-weight:normal;}
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
{include file='index/head'/}
<article class="ns-base-article" id="vue-main" v-cloak>
    <aside class="ns-base-aside">
        {include file='index/nav_left'/}
        <nav>
            <ul>
                <li onclick="location.href='{:url('shopindexlist')}'" title="商城首页层">商城首页层</li>
                <li class="selected" onclick="location.href='{:url('shopMenuList')}'" title="商城菜单">商城菜单</li>
                <li onclick="location.href='{:url('shopIntroduce')}'" title="商城介绍">商城介绍</li>


            </ul>
        </nav>
        <div style="height:50px;"></div>
        <div id="bottom_copyright">
            <footer>
                <img src="" id="copyright_logo"/>
                <p>
                    <span id="copyright_meta"></span>
                    <br/>
                    <span id="copyright_companyname"></span>
                    <br/>
                    <span id="copyright_desc"></span>
                </p>
            </footer>
        </div>
    </aside>
    <section class="ns-base-section">
        <!-- 操作提示 -->
        <div class="ns-warm-prompt" >
            <div class="alert alert-info">
                <button type="button" class="close">&times;</button>
                <h4>
                    <i class="fa fa-bell"></i>
                    <span>操作提示</span>
                </h4>
                <div style="font-size:12px;text-indent:18px;">
                    {{'{$menu_id}'==''?'添加':'编辑'}}菜单
                </div>
            </div>
        </div>
        <div style="position:relative;margin:10px 0;">
            <!-- 三级导航菜单 -->
            <nav class="ns-third-menu">
                <ul>
                    <li class="selected">{{'{$menu_id}'==''?'添加':'编辑'}}菜单</li>
                </ul>
            </nav>
            <div class="right-side-operation">
                <ul>
                    <li style="display:none;"><a class="js-open-warmp-prompt"><i class="fa fa-bell"></i>提示</a></li>

                </ul>
            </div>
        </div>
        <div class="ns-main">

            <div class="set-style">
                <dl>
                    <dt><span style="color:red;margin-right:10px;">*</span>菜单名称</dt>
                    <dd><input id="nav_title" type="text" class="input-common" name="title" v-model="shopMenu.menu_name"/></dd>
                </dl>
                <dl>
                    <dt><span style="color:red;margin-left:15px;"></span>应用于</dt>
                    <dd>
                        <div id="">
                            <label for="sort1" class="line-label"><input type="radio" value="1" v-model="shopMenu.sort" name="sort" id="sort1"/>手机端</label>
                            <label for="sort2" class="line-label"><input type="radio" value="2" v-model="shopMenu.sort" name="sort" id="sort2"/>PC端</label>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><span style="color:red;margin-right:10px;">*</span>位置</dt>
                    <dd><input id="sort" type="number" value="0" class="input-common" min="0" step="1" v-model="shopMenu.position" style="width:60px;"/></dd>
                </dl>
                <dl>
                    <dt><span style="color:red;margin-right:10px;">*</span>链接地址</dt>
                    <dd><input type="text" class="input-common" name="title" v-model="shopMenu.menu_url"/></dd>
                </dl>
                <dl>
                    <dt><span style="color:red;margin-left:15px;"></span>是否启用</dt>
                    <dd>
                        <div id="position_type">
                            <label for="is_use1" class="line-label"><input type="radio" value="1" v-model="shopMenu.is_use" name="is_use" id="is_use1"/>启用</label>
                            <label for="is_use2" class="line-label"><input type="radio" value="0" v-model="shopMenu.is_use" name="is_use" id="is_use2"/>暂停</label>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><button class="btn-common btn-big" @click="ajaxSubmit()">提交</button></dd>
                </dl>
            </div>
        </div>

    </section>
</article>

<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/jquery-ui-private.css">
<script>
    var platform_shopname= '{$platformName}';
</script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-ui-private.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.timers.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue-resource.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script>
    var vueMain;
    $(function () {
        vueMain=new Vue({
            el:"#vue-main",
            data:{
                shopMenu:{}
            },
            mounted:function () {
                if("{$menu_id}"==''){
                    this.shopMenu={sort:1, position:0, menu_name:'', menu_logo:'', menu_url:'', is_use:1};
                }else{
                    this.$http.post("{:url('platform/System/shopMenuDetails')}", {menu_id:"{$menu_id}"},
                        {emulateJSON: true}).then(function (res) {
                        if (res.data.code == 0) {
                            this.shopMenu=res.data.data;
                            this.shopMenu.menu_id=res.data.data.id;
                        }else{
                            layer.alert(res.data.msg,{icon:5});
                        }
                    });
                }
            },
            methods:{
                ajaxSubmit:function () {
                    if(this.shopMenu.position==''){
                        this.shopMenu.position=0;
                    }
                    if(this.shopMenu.menu_name==''){
                        layer.alert("请填写菜单名称");
                        return;
                    }
                    if(this.shopMenu.menu_url==''){
                        layer.alert("请填写菜单链接地址");
                        return;
                    }
                    if("{$menu_id}"=='') {
                        this.$http.post("{:url('platform/System/addShopMenu')}", this.shopMenu,
                            {emulateJSON: true}).then(function (res) {
                            if (res.data.code == 0) {
                                layer.alert(res.data.msg, {icon: 6}, function () {
                                    location.href = "{:url('shopMenuList')}";
                                });
                            } else {
                                layer.alert(res.data.msg, {icon: 5});
                            }
                        });
                    }else{
                        this.$http.post("{:url('platform/System/updateShopMenu')}", this.shopMenu,
                            {emulateJSON: true}).then(function (res) {
                            if (res.data.code == 0) {
                                layer.alert(res.data.msg, {icon: 6}, function () {
                                    location.href = "{:url('shopMenuList')}";
                                });
                            } else {
                                layer.alert(res.data.msg, {icon: 5});
                            }
                        });
                    }
                }
            }
        });
    });
</script>

</body>
</html>