<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <title>{$platformName}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_blue_common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/simple-switch/css/simple.switch.three.css"/>
    <style>
        .Switch_FlatRadius.On span.switch-open {
            background-color: #0072D2;
            border-color: #0072D2;
        }
    </style>
    <script src="__STATIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__STATIC__/blue/bootstrap/js/bootstrap.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrapSwitch.js"></script>
    <script src="__STATIC__/simple-switch/js/simple.switch.js"></script>
    <script src="__STATIC__/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script src="__STATIC__/js/seller.js"></script>
    <script src="__STATIC__/admin/js/jquery-ui.min.js"></script>
    <script src="__STATIC__/admin/js/ns_tool.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_table_style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/defau.css">
    <style>
        .set-style dl dt {
            width: 10%;
        }
    </style>
</head>
<body>
{include file='index/head'/}
<article class="ns-base-article" id="vue-main" v-cloak>
    <aside class="ns-base-aside">
        {include file='index/nav_left'/}
        <nav>
            <ul>
                <li class="selected" onclick="location.href='{:url('admin/document?name=meiqia')}';" title="美洽使用说明">
                    美洽使用说明
                </li>
                <li onclick="location.href='{:url('admin/document?name=kf5')}';" title="KF5使用说明">KF5使用说明</li>

            </ul>
        </nav>
        <div style="height:50px;"></div>
        <div id="bottom_copyright">
            <footer>
                <img src="" id="copyright_logo"/>
                <p>
                    <span id="copyright_meta"></span>
                    <br/>
                    <span id="copyright_companyname"></span>
                    <br/>
                    <span id="copyright_desc"></span>
                </p>
            </footer>
        </div>
    </aside>
    <section class="ns-base-section">
        <!-- 操作提示 -->
        <div class="ns-warm-prompt">
            <div class="alert alert-info">
                <button type="button" class="close" onclick="$('.ns-warm-prompt').hide();">&times;</button>

                <h4>
                    <i class="fa fa-bell"></i>
                    <span>操作提示</span>
                </h4>
                <div style="font-size:12px;text-indent:18px;">
                    美洽使用说明
                </div>
            </div>
        </div>


        <div class="ns-main" style="min-height: 400px;padding: 10px 30px;">

            <h3 class="dc-tit"
                style="padding: 0px; margin: 0px 50px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 16px; font-weight: 400; text-align: center; line-height: 50px; color: rgb(51, 51, 51); height: 50px; font-family: Helvetica, &#39;Hiragino Sans GB&#39;, &#39;Microsoft Yahei&#39;, 微软雅黑, Arial, sans-serif; font-variant-ligatures: normal; orphans: 2; white-space: normal; widows: 2;">
                美洽客服
            </h3>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                首先需要获取到美洽配置中的聊天链接。
            </p>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                1、登录美洽官网<a href="http://www.meiqia.cn"
                           style="padding: 0px; margin: 0px; color: rgb(0, 145, 230);">www.meiqia.cn，注册并成为会员，登录到会员中心首页。</a>
            </p>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                2.在左侧栏选择设置按钮，在右侧出现的菜单中选择聊天链接。
            </p>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                <img src="__STATIC__/images/1503021285361198.png"
                     title="1503021285361198.png" alt="blob.png"/>
            </p>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                3、在出现的新页面中复制链接地址下方的链接。
            </p>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                <img src="__STATIC__/images/1503021382361202.png"
                     title="1503021382361202.png" alt="blob.png"/>
            </p>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                4.将该链接粘贴到自己网站后台的客服设置中然后提交即可，如下图。
            </p>
            <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: rgb(102, 102, 102); line-height: 28px;">
                <img src="__STATIC__/images/20171227204130.png"
                     title="1503021501791927.png" alt="blob.png"/>
            </p>
            <p>
                <br/>
            </p>
        </div>

    </section>
</article>

<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/jquery-ui-private.css">
<script>
    var platform_shopname = '{$platformInfo.platform_site_name}';
</script>
<script src="__STATIC__/admin/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-ui-private.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.timers.js"></script>
<

</body>
</html>