
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <title>{$platformName}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_blue_common.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/simple-switch/css/simple.switch.three.css" />
    <style>
        .Switch_FlatRadius.On span.switch-open{background-color: #0072D2;border-color: #0072D2;}
    </style>
    <script src="__STATIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__STATIC__/blue/bootstrap/js/bootstrap.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrapSwitch.js"></script>
    <script src="__STATIC__/simple-switch/js/simple.switch.js"></script>
    <script src="__STATIC__/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script src="__STATIC__/js/seller.js"></script>
    <script src="__STATIC__/admin/js/jquery-ui.min.js"></script>
    <script src="__STATIC__/admin/js/ns_tool.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_table_style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/defau.css">
    <script src="__STATIC__/admin/js/art_dialog.source.js"></script>
    <script src="__STATIC__/admin/js/iframe_tools.source.js"></script>
    <script src="__STATIC__/admin/js/material_managedialog.js"></script>
    <style>
        .hint{width: 50%;float: right;}
        .set-style dl{
            border-bottom: none;
        }
    </style>

</head>
<body>
{include file='index/head'/}
<article class="ns-base-article" id="vue-main" v-cloak>
    <aside class="ns-base-aside">
        {include file='index/nav_left'}
        <nav>
            <ul>
                <li onclick="location.href='{:url('admin/expresscompany')}';" title="物流配送">物流配送</li>
                <li onclick="location.href='{:url('admin/platformShop')}';" title="平台体验店">平台体验店</li>

                <li onclick="location.href='{:url('admin/webconfig')}';" title="基础设置">基础设置</li>
                <li class="selected" onclick="location.href='{:url('admin/picconfig')}';" title="图片设置">图片设置</li>
                <li onclick="location.href='{:url('admin/agentwithdrawsetting')}';" title="代理商提现设置">代理商提现设置</li>
                <li onclick="location.href='{:url('admin/notifyindex')}';" title="通知设置">通知设置</li>
                <li onclick="location.href='{:url('admin/customservice')}';" title="客服设置">客服设置</li>
                <li onclick="location.href='{:url('admin/paylist')}';" title="支付设置">支付设置</li>
                <li onclick="location.href='{:url('admin/originalroadrefundsetting')}';" title="原路退回配置">原路退回配置</li>

            </ul>
        </nav>
        <div style="height:50px;"></div>
        <div id="bottom_copyright">
            <footer>
                <img src="" id="copyright_logo"/>
                <p>
                    <span id="copyright_meta"></span>
                    <br/>
                    <span id="copyright_companyname"></span>
                    <br/>
                    <span id="copyright_desc"></span>
                </p>
            </footer>
        </div>
    </aside>
    <section class="ns-base-section">
        <!-- 操作提示 -->

        <div class="ns-warm-prompt" >
            <div class="alert alert-info">
                <button type="button" class="close" onclick="$('.ns-warm-prompt').hide();">&times;</button>

                <h4>
                    <i class="fa fa-bell"></i>
                    <span>操作提示</span>
                </h4>
                <div style="font-size:12px;text-indent:18px;">
                    图片设置
                </div>
            </div>
        </div>

        <div style="position:relative;margin:10px 0;">
            <!-- 三级导航菜单 -->

            <nav class="ns-third-menu">
                <ul>
                    <li class="selected">图片设置</li>
                </ul>
            </nav>


            <div class="right-side-operation">
                <ul>


                    <li style="display:none;"><a class="js-open-warmp-prompt"><i class="fa fa-bell"></i>提示</a></li>

                </ul>
            </div>
        </div>
        <div class="ns-main" style="min-height: 500px;">

            <div class="set-style">
                <dl>
                    <dt style="font-size:15px;">缩略图:</dt>
                    <dd>
                        <div class="controls">
                            <label class="radio inline"><input type="radio" v-model="picInfo.thumb_type" name="pic_info" value="2">缩放后填充</label><br/>
                            <label class="radio inline"><input type="radio" v-model="picInfo.thumb_type" name="pic_info" value="3">居中裁剪</label><br/>
                            <label class="radio inline"><input type="radio" v-model="picInfo.thumb_type" name="pic_info" value="4">左上角裁剪</label><br/>
                            <label class="radio inline"><input type="radio" v-model="picInfo.thumb_type" name="pic_info" value="5">右下角裁剪</label><br/>
                            <label class="radio inline"><input type="radio" v-model="picInfo.thumb_type" name="pic_info" value="6">固定尺寸缩放</label>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><button class="btn-common btn-big" @click="ajaxSubmit();">提交</button></dd>
                </dl>
            </div>
        </div>

    </section>
</article>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/jquery-ui-private.css">
<script>
    var platform_shopname= '{$platformInfo.platform_site_name}';
</script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-ui-private.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.timers.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue-resource.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script>
    var vueMain;
    $(function () {
        vueMain=new Vue({
            el:"#vue-main",
            data:{
                picInfo:{}
            },
            mounted:function () {
                this.$http.post("{:url('platform/Config/getPictureUploadSetting')}", {},
                    {emulateJSON: true}).then(function (res) {
                    if (res.data.code == 0) {
                        this.picInfo={
                            thumb_type:res.data.data.thumb_type
                        };
                    }
                });
            },
            methods: {
                ajaxSubmit:function () {
                    this.$http.post("{:url('platform/Config/setPictureUploadSetting')}", this.picInfo,
                        {emulateJSON: true}).then(function (res) {
                        if (res.data.code == 0) {
                            layer.alert(res.data.msg,{icon:6},function () {
                                location.reload();
                            });
                        }else{
                            layer.alert(res.data.msg,{icon:5});
                        }
                    });
                },
            }
        });
    });
</script>

</body>
</html>