
<!DOCTYPE html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <title>{$platformName}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_blue_common.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/simple-switch/css/simple.switch.three.css" />
    <style>
        .Switch_FlatRadius.On span.switch-open{background-color: #0072D2;border-color: #0072D2;}
    </style>
    <script src="__STATIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__STATIC__/blue/bootstrap/js/bootstrap.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrapSwitch.js"></script>
    <script src="__STATIC__/simple-switch/js/simple.switch.js"></script>
    <script src="__STATIC__/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="__STATIC__/js/common.js"></script>
    <script src="__STATIC__/js/seller.js"></script>
    <script src="__STATIC__/admin/js/jquery-ui.min.js"></script>
    <script src="__STATIC__/admin/js/ns_tool.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blue/css/ns_table_style.css">
    <style>
        .is_btn {
            display: inline-block;
            height: 30px;
            width: 44px;
            text-align: center;
            background-color: #ECF0F1;
            border-color: #BEC3C7;
            color: #777;
            cursor: pointer;
        }

        .is_btn_yes {
            border-radius: 4px 0 0 4px;
            border-width: 1px 0 1px 1px;
        }

        .is_btn_no {
            border-radius: 0 4px 4px 0;
            border-width: 1px 1px 1px 0;
        }

        .is_btn_yes.active {
            background-color: #0072D2;
            border-color: #0072D2;
            color: #fff;
        }

        .is_btn_no.active {
            color: #FFF;
            background-color: #96A6A6;
            border-color: #808B8D;
        }
    </style>
</head>
<body>
{include file="index/head"/}
<div id="vue-main" v-cloak>
<article class="ns-base-article">
    <aside class="ns-base-aside">
        {include file="index/nav_left"/}

        <nav>
            <ul>
                <li class="selected" onclick="location.href='{:url('admin/expresscompany')}';" title="物流配送">物流配送</li>
                <li class="" onclick="location.href='{:url('admin/platformShop')}';" title="平台体验店">平台体验店</li>
                <li onclick="location.href='{:url('admin/webconfig')}';" title="基础设置">基础设置</li>
                <li onclick="location.href='{:url('admin/picconfig')}';" title="图片设置">图片设置</li>
                <li onclick="location.href='{:url('admin/agentwithdrawsetting')}';" title="代理商提现设置">代理商提现设置</li>
                <li onclick="location.href='{:url('admin/notifyindex')}';" title="通知设置">通知设置</li>
                <li onclick="location.href='{:url('admin/customservice')}';" title="客服设置">客服设置</li>
                <li onclick="location.href='{:url('admin/paylist')}';" title="支付设置">支付设置</li>
                <li onclick="location.href='{:url('admin/originalroadrefundsetting')}';" title="原路退回配置">原路退回配置</li>

            </ul>
        </nav>
        <div style="height:50px;"></div>
        <div id="bottom_copyright">
            <footer>
                <img src="" id="copyright_logo"/>
                <p>
                    <span id="copyright_meta"></span>
                    <br/>
                    <span id="copyright_companyname"></span>
                    <br/>
                    <span id="copyright_desc"></span>
                </p>
            </footer>
        </div>
    </aside>
    <section class="ns-base-section">
        <!-- 操作提示 -->
        <div class="ns-warm-prompt" >
            <div class="alert alert-info">
                <button type="button" class="close" onclick="$('.ns-warm-prompt').hide();">&times;</button>
                <h4>
                    <i class="fa fa-bell"></i>
                    <span>操作提示</span>
                </h4>
                <div style="font-size:12px;text-indent:18px;">
                    自提点运费
                </div>
            </div>
        </div>
        <div style="position:relative;margin:10px 0;">
            <!-- 三级导航菜单 -->
            <nav class="ns-third-menu">
                <ul>
                    <li onclick="location.href='{:url('expresscompany')}';">物流公司</li>
                    <li onclick="location.href='{:url('pickuppointlist')}';">自提点管理</li>
                    <li class="selected" onclick="location.href='{:url('pickuppointfreight')}';">自提点运费</li>                        <li onclick="location.href='{:url('returnsetting')}';">商家地址</li>

                </ul>
            </nav>
        </div>
        <div class="ns-main">

            <div class="set-style">
                <dl>
                    <dt>自提点运费:</dt>
                    <dd><input id="pickup_freight" type="number" min="0" placeholder="0" v-model="info.pickup_freight" value="" style="width: 75px;"/> 元</dd>
                </dl>
                <dl>
                    <dt>满X免运费:</dt>
                    <dd><input id="manjian_freight" type="number" min="0" placeholder="0" v-model="info.manjian_freight"  value="" style="width: 75px;"/> 元</dd>
                </dl>
                <dl>
                    <dt>是否启用:</dt>
                    <dd>
                        <p>
                            <span class="is_btn is_btn_yes" :class="{active:info.is_enable==1}" @click="changeBtn('is_enable')">是</span><span class="is_btn is_btn_no" :class="{active:info.is_enable==0}" @click="changeBtn('is_enable')">否</span>
                        </p>
                    </dd>
                </dl>
                <dl>
                    <dt></dt>
                    <dd><button class="btn-common btn-big" @click="setConfigAjax();">提交</button></dd>
                </dl>
            </div>
        </div>
    </section>
</article>
</div>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/jquery-ui-private.css">
<script>
    var platform_shopname= '{$platformInfo.platform_site_name}';
</script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery-ui-private.js" charset="utf-8"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.timers.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue-resource.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script>
    var vueMain;
    $(function () {
        vueMain=new Vue({
            el:"#vue-main",
            data:{
                info:{
                    is_enable:1,
                    pickup_freight:0,
                    manjian_freight:0
                }
            },
            mounted:function () {
                this.$http.post("{:url('platform/agent/pickupPointFreight')}", {},
                    {emulateJSON: true}).then(function (res) {
                    if (res.data.code == 0) {
                        if(res.data.data.pickup_point_freight){
                            this.info=res.data.data.pickup_point_freight;
                        }else{
                            this.info={is_enable:1, pickup_freight:0, manjian_freight:0};
                        }
                    }
                });

            },
            methods:{
                changeBtn:function (type) {
                    if(this.info[type]==1)
                        this.info[type]=0;
                    else
                        this.info[type]=1;
                },
                setConfigAjax:function () {

                    this.$http.post("{:url('platform/agent/setPickupPointFreight')}", this.info,
                        {emulateJSON: true}).then(function (res) {
                        if (res.data.code == 0) {
                            layer.alert(res.data.msg,{icon:6});
                        }else{
                            layer.alert(res.data.msg,{icon:5});
                        }
                    });

                }
            }



        });

    });

</script>

</body>
</html>