<style>
    .footer p{
        font-size: 12px;
        margin-bottom: 0;
    }
</style>
<div class="footer" style="background-color: rgba(0, 0, 0, 0.8);padding-top: 8px;padding-bottom: 0">
    <div style="padding-bottom: 0.5em;">
        <p style="text-align: center;color:#aaa;padding-top: 1px;">{$siteInfo.web_phone}（周一至周五：早7:00-次日凌晨1:00）</p>
        <p style="text-align: center;color:#aaa;padding-top: 1px;margin-top: 0.6em;padding-top: 0.6em;border-top: 1px solid #444;">{$copyrightInfo.copyright_desc}</p>
        <p style="text-align: center;color:#aaa;padding-top: 1px;">{$siteInfo.web_icp}</p>
    </div>
</div>
