<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$siteInfo.wap_shop_title}{$seoInfo.seo_title}</title>
    <meta name="keywords" content="{$seoInfo.seo_meta}">
    <meta name="description" content="{$seoInfo.seo_desc}">
    <link rel="stylesheet" type="text/css" href="__STATIC__/wap/css/loaders.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/wap/css/loading.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/wap/css/base.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/wap/css/style.css">
    <script src="__STATIC__/web/js/jquery-1.10.2.min.js"></script>
    <script src="__STATIC__/web/js/jquery.cookie.js"></script>
    <script type="text/javascript">
        var nexturl = "self";
    </script>
    <style>
        #my-pay-list dd {
            border-bottom: none;
            padding: 0.4em 5%;
            font-size: 0.9em;
            float: left;
        }

        #pay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1666;
            background-color: #fff;
        }

        .pay-content {
            font-size: 14px;
            background-color: #fafafa;
        }
        .div-pay{
            height:60px;
            padding-left: 80px;
            background-repeat: no-repeat;
            background-size: 40px 40px;
            background-position: 20px 50%;
            vertical-align: middle;
            line-height: 60px;
            font-size:16px;
            background-color: #fff;
            margin-bottom: 10px;
            position: relative;
        }
        .alipay{
            background-image: url("__STATIC__/wap/images/alipay.png");
        }
        .weixinpay{
            background-image: url("__STATIC__/wap/images/weixinpay.png");
        }
        .select{
            width:30px;
            height: 30px;
            background-image: url("__STATIC__/wap/images/select.png");
            background-size: 100%;
            position: absolute;
            top:15px;
            right: 20px;
        }
        .selected{
            background-image: url("__STATIC__/wap/images/selected.png");

        }
        [v-cloak]{
            display: none;
        }
    </style>
    {include file="index/auto_login"/}
    <!--</script>-->
</head>
<!--loading页开始-->
<body>
<div style="height:44px;background-color:#000;position: fixed;top:0;left: 0;width:100%;z-index:1555">
    <div style="width:100%;height: 100%;line-height: 100%;text-align: center;position: absolute;font-size:22px;color:#fff;padding-top: 10px;">
        订单详情
    </div>
    <div style="width:24px;height:24px;float: left;margin-top: 10px;margin-left: 10px;position:relative;z-index:5555;">
        <a href="javascript:window.history.back();">
            <img src="__STATIC__/wap/images/back-5.png" style="width:100%;"/></a>
    </div>
    <div style="width:24px;height:24px;float: right;margin-top: 10px;margin-right: 10px;position:relative;z-index:5555;">
        <a href="{:url('index')}">
            <img src="__STATIC__/wap/images/home-5.png" style="width:100%;"/></a>
    </div>
</div>
<div id="main" v-cloak class="contaniner fixed-conta" style="margin-top: 38px;">
    <section class="order" style="margin-bottom: 65px;">
        <dl id="my-pay-list">
            <dt>
                <time>{{orderInfo.create_time}}</time>
                <span>订单详情</span>
            </dt>
            <ul v-for="(item1,index1) in orderInfo.order_goods">
                <a>
                    <figure><img :src="item1.picture_info.pic_cover_small"></figure>
                    <li>
                        <p>{{item1.goods_name}}</p>
                        <small v-if="item1.sku_name!=''">规格：{{item1.sku_name}}</small>
                        <!--<span>尺寸：XL</span>-->
                        <b>￥{{item1.price}}</b>
                        <strong>×{{item1.num}}</strong>
                    </li>
                </a>
            </ul>
            <dd style="font-size:1.2em;color:#666;">
                收货地址：<span v-html="orderInfo.address"></span>&nbsp;{{orderInfo.receiver_address}}&nbsp;{{orderInfo.receiver_name}}&nbsp;{{orderInfo.receiver_phone}}
            </dd>
            <dd style="float:none;"></dd>
            <dd style="width:40%;">
                <i>商品总额￥{{orderInfo.goods_money}}</i>
            </dd>
            <dd style="width:40%;">
                <i>运费+￥{{orderInfo.shipping_money}}</i>
            </dd>
            <dd style="width:40%;">
                <i>积分抵-￥{{orderInfo.point_money}}</i>
            </dd>
            <dd style="width:40%;">
                <i>抵用券抵-￥{{orderInfo.coupon_money}}</i>
            </dd>
            <dd style="width:40%;">
                <i>优惠减-￥{{orderInfo.promotion_money}}</i>
            </dd>
            <dd style="width:40%;">
                <i>余额支付-￥{{orderInfo.user_platform_money}}</i>
            </dd>
            <dd style="width:40%;">
                <i style="color:red">&nbsp;</i>
            </dd>
            <dd style="width:40%;">
                <i style="color:red">还需支付￥{{orderInfo.pay_money}}</i>
            </dd>
        </dl>
    </section>
    <div style="position: fixed;bottom:0;left: 0;background-color: #fff;z-index:1555;width:100%;">
        <button style="background-color: #e80080;padding: 0.5em 2em;font-size:1.5em;color:#fff;margin: 5px auto;display: block;width:70%;border: none;border-radius: 2em;"
                @click="showPay()">去支付(￥{{orderInfo.pay_money}})
        </button>
    </div>
    <div id="pay" style="background-color: #eee;display: none;">
        <div style="height:44px;background-color:#000;position: fixed;top:0;left: 0;width:100%;z-index:1555">
            <div style="width:100%;height: 100%;line-height: 100%;text-align: center;position: absolute;font-size:22px;color:#fff;padding-top: 10px;">
                支付订单
            </div>
            <div style="width:24px;height:24px;float: left;margin-top: 10px;margin-left: 10px;position:relative;z-index:5555;">
                <a href="javascript:$('#pay').slideUp();">
                    <img src="__STATIC__/wap/images/back-5.png" style="width:100%;"/></a>
            </div>
        </div>
        <div style="margin-top: 55px;margin-bottom: 1em;" class="pay-content">
            <div style="height:90px;padding-left: 100px;background-image: url('__STATIC__/wap/images/order.png');background-repeat: no-repeat;background-size:50px;background-position:20px 50%; ">
                <p style="height: 49%;border-bottom: 1px solid #ccc;position: relative;">
                    <span style="position: absolute;bottom: 0;">订单编号：{{orderInfo.order_no}}</span>
                </p>
                <p style="height: 50%;font-weight: bold;">
                    支付金额：¥{{orderInfo.goods_money}}
                </p>
            </div>

        </div>
        <div>
            <div class="alipay div-pay">
                支付宝支付
                <div :class="{select:true,selected:payWay==1}" @click="payWay=1"></div>
            </div>
            <div class="weixinpay div-pay">
                微信支付
                <div :class="{select:true,selected:payWay==2}" @click="payWay=2"></div>
            </div>
        </div>
        <div style="text-align: center;">
        <button type="button" @click="payAlert()" style="width:80%;background-color: rgb(232, 0, 128);border-radius: 5em;padding: 0.5em 1em;font-size:20px;color:#fff;">确认支付：¥{{orderInfo.pay_money}}</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/vue/vue.js"></script>
<script type="text/javascript" src="__STATIC__/vue/vue-resource.js"></script>
<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
<script>
    var mainVue;
    var out_trade_no;
    $(function () {
        mainVue = new Vue({
            el: "#main",
            data: {
                orderInfo: '',
                payWay:1
            },
            mounted: function () {
                this.$http.post("{:url('shop/order/orderDetail')}", {order_id: "{$order_id}"}, {
                            headers: {
                                authKey: $.cookie('authKey'),
                                sessionId: $.cookie('sessionId')
                            }
                        },
                        {emulateJSON: true}).then(function (res) {
                    if (res.data.code == 0) {
                        this.orderInfo = res.data.data.order_details;
                        out_trade_no=this.orderInfo.out_trade_no;
                        var payStatus = window.setInterval("payStatu()", 2000);

                    }
                });
            },
            methods: {
                gotoPay: function (orderId) {
                    location.href = "{:url('order_detail')}" + "&order_id=" + orderId;
                },
                payAlert:function(){
                    if(this.payWay==1){
                        location.href="{:url('aliPay')}&out_trade_no="+this.orderInfo.out_trade_no;
                    }
                    if(this.payWay==2){
                        location.href="{:url('shop/Pay/wchatPay')}&out_trade_no="+this.orderInfo.out_trade_no;
                    }
                },
                showPay:function () {
                    this.$http.post("{:url('shop/pay/getPayValue')}", {'out_trade_no': this.orderInfo.out_trade_no}, {
                            headers: {
                                authKey: $.cookie('authKey'),
                                sessionId: $.cookie('sessionId')
                            }
                        },
                        {emulateJSON: true}).then(function (res) {
                        if (res.data.code == 0) {
                            $('#pay').slideDown();
                        }else{
                            layer.msg(res.data.msg,{shade:[0.2,"#333"]});
                            return;
                        }
                    });
                }
            }
        });
    });
    function payStatu(){
        $.ajax({
            type : "post",
            url : "{:url('shop/pay/wchatQrcodePay')}",
            data : {
                out_trade_no : out_trade_no
            },
            success : function(res){
                if(res.data.code > 0){
                    location.href="{:url('shop/Pay/wchatPayResult')}&out_trade_no="+out_trade_no+"&msg=1";
                    clearInterval(payStatus);
                }
            }
        })
    }
</script>

</body>
</html>